.wrapper {
  background: #f8f3ed;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  border-radius: 60px;
  display: flex;
  flex-direction: column;

  min-height: 60vh;
  max-height: 90vh;
}

.header {
  align-self: flex-start;
}
